<div class="fixed bottom-4 right-4 left-4 sm:left-auto sm:w-96 z-50 space-y-3">
  <% flash.each do |type, message| %>
    <% next if message.blank? %>

    <%
      css_class = case type.to_sym
      when :notice, :success
        "bg-green-50 text-green-800 border-green-200"
      when :alert, :error
        "bg-red-50 text-red-800 border-red-200"
      when :warning
        "bg-yellow-50 text-yellow-800 border-yellow-200"
      else
        "bg-blue-50 text-blue-800 border-blue-200"
      end

      icon_path = case type.to_sym
      when :notice, :success
        "M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
      when :alert, :error
        "M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
      when :warning
        "M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
      else
        "M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
      end
    %>

    <div data-controller="flash"
         data-flash-timeout-value="5000"
         class="<%= css_class %> border rounded-lg p-4 flex items-start shadow-lg animate-fade-in"
         role="alert">
      <svg class="w-5 h-5 mr-3 flex-shrink-0 mt-0.5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="<%= icon_path %>" />
      </svg>

      <div class="flex-1">
        <%= message %>
      </div>

      <button type="button"
              data-action="click->flash#dismiss"
              class="ml-3 flex-shrink-0 inline-flex text-current opacity-50 hover:opacity-100 transition-opacity"
              aria-label="Close">
        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
  <% end %>
</div>
